</td>
</tr>

<tr>
    <td class="title" bgcolor="#FF9900" style="padding-top:10px; padding-right:30px; padding-bottom:10px; padding-left:30px; font-family:'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:16px; line-height:22px; color:#fff; font-weight:10;">
        For any query or clarification, please feel free to contact us and we will be glad to assist you.<br />
        <br />

        Warm Regards,<br />

        Team Concept coms
    </td>
</tr>



</table>
<!-- End of letter content -->

<!-- Start of footer -->

<!-- End of footer -->

<!-- Start of Mailchimp badge --><center><br />WWW.CONCEPTCOMS.COM.KW</center><!-- End of Mailchimp badge -->

</td>
</tr>
<!-- End of main container -->
</table>

</body>
</html>